.pag {



    background-color: rgb(240, 228, 178);
    color: rgb(13, 20, 28);
    font-family: Helvetica;





}

.titulo {

    background-color: rgb(13, 20, 28);
    color: rgb(240, 228, 178);
    font-family: Tahoma;
    font-style: bold;
}

.menu {
    background-color: rgb(191, 32, 38);
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: rgb(240, 228, 178);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: rgb(13, 20, 28);
}





form {



    box-shadow: 0 0 20px rgb(191, 32, 38);
    border-radius: 20px;
    align-items: center;
    text-align: left;
    padding: 50px 55px;
    width: 340px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;

}










.grupo {

    display: flex;
    flex-direction: column;
    text-align: left;



}

h2 {

    color: rgb(13, 20, 28);
    font-size: 35px;

}

label {
    color: rgb(13, 20, 28);
    font-style: bold;
    font-size: 15px;
    margin-bottom: 15px;


}

input,
textarea {

    padding: 17px 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(191, 32, 38);
    border: 0.5px solid rgb(13, 20, 28);
    color: rgb(240, 228, 178);
    outline: none;


}

input ::placeholder,
textarea ::placeholder {


    color: rgb(240, 228, 178);

}

.form-txt {

    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;


}